$primary: #fff;
$secondary: #E0E0E0;
$bg-login: linear-gradient(#33383D,#1C1D20);
$bg-loged: linear-gradient(#fff, #F0F0F0);
$input-bg: #26292C;
$btn-login: linear-gradient(#FF2D04, #C13216);
$secundary-principal: #222222;
$titles-principal: #C13216;
$color-error:#E9B425;